appdirs
asgiref
astroid==2.5.6
colorama
cycler
distlib
dj-database-url
Django
filelock
gunicorn
isort
kiwisolver
lazy-object-proxy
mccabe
Pillow
psycopg2
pygame
pylint
pyparsing
python-dateutil
pytz
six
sqlparse
toml
virtualenv
waitress
whitenoise
wrapt